*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body{
    background-color: rgb(5, 5, 88);
}

main{
    padding: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(rgb(17, 82, 102), 0.5);

}

